= simple_form_for(@bill) do |f|
  = f.error_notification

  .form-inputs
    = f.input :ext_bill_id
    = f.input :state
    = f.input :session
    = f.input :reporter_description
    = f.collection_check_boxes :topic_ids, Topic.all_alphabetical, :id, :name

  .form-actions
    = f.button :submit
