= simple_form_for(@bill) do |f|
  = f.error_notification

  .form-inputs
    = f.input :ext_bill_id
    = f.input :state
    = f.input :session
    = f.input :reporter_description

  .form-actions
    = f.button :submit
