%h1 Listing bills

%table
  %tr
    %th Ext bill
    %th Reporter description
    %th Bill data
    %th
    %th
    %th

  - @bills.each do |bill|
    %tr
      %td= bill.ext_bill_id
      %td= bill.reporter_description
      %td= bill.bill_data
      %td= link_to 'Show', bill
      %td= link_to 'Edit', edit_bill_path(bill)
      %td= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Bill', new_bill_path
