%p
  %b Bill #:
  = @bill.ext_bill_id
%p
%p
  %b State:
  = @bill.state
%p
  %b Session:
  = @bill.session
%p
  %b Reporter description:
  = @bill.reporter_description
%p
  %b Topics:
  %ul
  - @bill.topics.each do |topic|
    %li
      = topic.name
%h2 Actions
%table.table
  %tr
    %th Date
    %th Action
    %th Annotation
    %th Url
    - @bill.annotations.each do |annotation|
      %tr
        %td= annotation.date.to_s(:long_date_only)
        %td= annotation.action
        %td= annotation.text
        %td= annotation.url

= link_to 'Edit', edit_bill_path(@bill)
\|
= link_to 'Back', bills_path
