%h1 Listing annotations

%table.table
  %tr
    %th Bill
    %th Date
    %th Action
    %th Text
    %th Url
    %th
    %th
    %th

  - @annotations.each do |annotation|
    %tr
      %td= annotation.bill
      %td= annotation.date
      %td= annotation.action
      %td= annotation.text
      %td= annotation.url
      %td= link_to 'Show', annotation
      %td= link_to 'Edit', edit_annotation_path(annotation)
      %td= link_to 'Destroy', annotation, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Annotation', new_annotation_path
